button{
 background-color: green;
 color: white;
 border: 5px solid white;
 margin-left: 560px;
 margin-right: 500px;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 5px;
 padding-left: 5px;
}
img{
    border: 20px solid saddlebrown;
    margin-left: 500px;
    margin-right: 500px;
    
}
a{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 500px;
    margin-right: 500px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 620px;
    margin-right: 500px;
    font-size:large;

}
body{
    background-color: aqua;
}